{% extends 'base.html' %}
{% block titulo %}{% if form.instance.pk %}Editar Curso{% else %}Crear Curso{% endif %}{% endblock %}
{% block contenido %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">{% if form.instance.pk %}Editar Curso{% else %}Crear Curso{% endif %}</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors.0 }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>

{% endblock %}